body{
  text-align:center;
  background: url(bg2.jpg) no-repeat center fixed;
  background-size: cover;
  color:whitesmoke;
}
canvas {
  border: 1px solid #c3c3c3;
  height: 200px;
  background-color:white;
}
#modimg{
  filter:blur(20);
}
